<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.surname %></h3>
     <p>
     Click this link to change password: <a href='<%= @url %>'>reset password </a>  .
     <br>
     </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
