<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome onboard, <%= @user.surname %></h3>
     <p>
     You have successfully signed up, your Otp is: <%= @user.otp %>.
     <br>
     </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
